singularity {
    enabled = true
    cacheDir   = "${projectDir}/singularity"
    runOptions = '--bind /lustre --bind /nfs/pathnfs01 --bind /nfs/pathnfs02 --bind /nfs/pathnfs03 --bind /nfs/pathnfs04 --bind /nfs/pathnfs05 --bind /nfs/pathnfs06 --no-home'
}

params {
    memory_buildDB = '10000 MB'
    memory_classify = '10000 MB'
}

process {
    executor = 'lsf'
    queue = 'normal'
    errorStrategy = { task.attempt <= 5 ? "retry" : "finish" }
    process.maxRetries = 5
    withLabel: process_long {
        queue = 'long'
    }
    withName: buildDB {
        cpus = 12
        memory = params.memory_buildDB
    }
    withName: classify {
        cpus = 50
        memory = params.memory_classify
    }
}

executor{
    name = 'lsf'
    perJobMemLimit = true
    poolSize = 4
    submitRateLimit = '5 sec'
    killBatchSize = 50
}

params {
    max_memory = 128.GB
    max_cpus = 64
    max_time = 48.h
}
